# Bỏ qua thư mục IDE của JetBrains
.idea/
*.iml

# Go build
/bin/
/build/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go modules cache (nếu dùng)
vendor/

# Logs
*.log

# Thư mục môi trường, env files
#.env
#.env.*

# VSCode (nếu đôi lúc bạn dùng VSCode)
.vscode/

# MacOS / Windows rác
.DS_Store
Thumbs.db

# Node modules
node_modules/

# Next.js build output
.next/

frontend